/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/catatan
/public/file
/storage/dokumen
/.vscode
.env
.env-ASLI
.env copy
.env GMAIL
.env-nyoba
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
