/app/Http/UjicobaController.php
/node_modules
/public
/storage/khusus
/storage/*.key
/vendor
/catatan
/storage/dokumen
/.vscode
.env
.env-ASLI
.env asli
.env copy
.env GMAIL
.env-nyoba
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
