// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Unit Colors
$ccec: #ffc10d;
$TK: #f04e23;
$SD: #067c3f;
$SMP: #1d458b;
$SMA: #a85433;

.white {
    color: $white !important;
}
.blue {
    color: $blue !important;
}
.indigo {
    color: $indigo !important;
}
.purple {
    color: $purple !important;
}
.pink {
    color: $pink !important;
}
.red {
    color: $red !important;
}
.orange {
    color: $orange !important;
}
.yellow {
    color: $yellow !important;
}
.green {
    color: $green !important;
}
.teal {
    color: $teal !important;
}
.cyan {
    color: $cyan !important;
}
.ccec {
    color: $ccec !important;
}
.TK {
    color: $TK !important;
}
.SD {
    color: $SD !important;
}
.SMP {
    color: $SMP !important;
}
.SMA {
    color: $SMA !important;
}

.bg-white {
    background-color: $white !important;
}
.bg-blue {
    background-color: $blue !important;
}
.bg-indigo {
    background-color: $indigo !important;
}
.bg-purple {
    background-color: $purple !important;
}
.bg-pink {
    background-color: $pink !important;
}
.bg-red {
    background-color: $red !important;
}
.bg-orange {
    background-color: $orange !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-green {
    background-color: $green !important;
}
.bg-teal {
    background-color: $teal !important;
}
.bg-cyan {
    background-color: $cyan !important;
}
.bg-ccec {
    color: $ccec !important;
}
.bg-TK {
    color: $TK !important;
}
.bg-SD {
    color: $SD !important;
}
.bg-SMP {
    color: $SMP !important;
}
.bg-SMA {
    color: $SMA !important;
}
