// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "vue-select/src/scss/vue-select.scss";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.router-link-exact-active{
    background-color: royalblue;
}

th {
    text-align: center;
}

td hr {
    margin: 1.5px;
}

.table td:last-of-type {
    width: 90px !important;
}

.card-header a {
    float: right;
    margin: 2px;
}

.card-header a:hover{
    color: #e9ecef !important;
}

.headline {
    font-size: 100px
}


.dashboard {
    background-color: beige !important;
    color: black !important;
}

.nav-link.active {
    color: #DAF7A6 !important;
    background-color: #170380 !important;
}

.nav-link.disabled {
    background-color: grey !important;
}

.brand-text {
    color:white;
    font-size: 20px;
    font-weight: bolder;
}

.gulung {
    max-height: 200px;
    overflow-y: auto;
}

#tombol-setuju {
    display: none;
}

.btn-app {
    height: 140px;
    width: 180px;
    border: #170380 solid 1px;
    font-size: 15px !important;
}

.btn-app i {
    margin: 5px 0 10px 0;
    font-size: 70px !important;
}

.wizard-tab-content h5 {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 10px;
}

.fr-view p {
    text-align: justify;
}

.invalid-feedback {
    display: block !important;
}

table.table-mini th tr td {
    font-size: 6px !important;
}

.linkZoom {
    margin-bottom: 0;
}

a[id^='reguler']:hover {
    color: red !important;
}

.btn-muamalat {
    color: yellow;
    background-color: purple;
    border-color: purple;
}

.roman li {
    list-style: upper-roman;
    display: list-item;
    font-weight: 800;
    color: #000;
    margin-bottom: 20px;
}
.biasa li {
    list-style: decimal;
    font-weight: 400;
    text-transform: none;
    padding: 0 0 0 10px;
    margin: 0 0 0 20px;
}
.step1 {
    text-indent: -20px;
    padding-left: 20px;
    margin: 0 0 0 -50px;
}
.step1 li {
    list-style: none;
}
.step2 {
    text-indent: -30px;
    padding-left: 20px;
    counter-reset: elementcounter;
}
.step2 li{
    list-style-type: none;
}
.step2>li:before {
    content: "(" counter(elementcounter) "). ";
    counter-increment: elementcounter;
}
.step3 {
    text-indent: 0px;
    padding-left: 0px;
}
.step3 li {
    list-style: lower-roman;
}
.jarak {
    margin-bottom: 10px;
}
.container-xl {
    max-width: 100% !important;
}