// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
    background-color: royalblue;
}

th {
    text-align: center;
}

td hr {
    margin: 1.5px;
}

td:last-of-type {
    width: 90px !important;
}

.card-header a {
    float: right;
    margin: 2px;
}

.card-header a:hover{
    color: #e9ecef !important;
}

.headline {
    font-size: 100px
}


.dashboard {
    background-color: beige !important;
    color: black !important;
}

.nav-link.active {
    color: #DAF7A6 !important;
    background-color: #170380 !important;
}

.nav-link.disabled {
    background-color: grey !important;
}

.brand-text {
    color:white;
    font-size: 20px;
    font-weight: bolder;
}

.gulung {
    max-height: 200px;
    overflow-y: auto;
}

#tombol-setuju {
    display: none;
}

.btn-app {
    height: 140px;
    width: 180px;
    border: #170380 solid 1px;
    font-size: 15px !important;
}

.btn-app i {
    margin: 5px 0 10px 0;
    font-size: 70px !important;
}

.wizard-tab-content h5 {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 10px;
}

.fr-view p {
    text-align: justify;
}

.invalid-feedback {
    display: block !important;
}

table.table-mini th tr td {
    font-size: 6px !important;
}

.linkZoom {
    margin-bottom: 0;
}

.seleksiZoom0 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #DAF7A6;
}

.seleksiZoom1 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: aquamarine;
}

.seleksiZoom2 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: bisque;
}

.seleksiZoom3 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: greenyellow;
}
